[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
gdown = "*"
ckiptagger = "*"
tensorflow = "==2.7.2"
wordcloud = "*"

[requires]
python_version = "3.7"
