---
layout: default
---
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<div class="row">
  <div class="col-md-12 blog-main">
    <article class="blog-post" itemscope itemtype="http://schema.org/BlogPosting">
      <h2 class="blog-post-title">{{ page.title | escape }}</h2>
      <p class="blog-post-meta">{{ page.date | date: date_format }}</p>

      <div itemprop="articleBody">
      {{ content }}
      </div>

      <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
    </article>
  </div>
</div>